<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inscription Client</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
<h1>Inscription Client</h1>
<form th:action="@{/clients/register}" th:object="${client}" method="post">
    <label for="nom">Nom:</label>
    <input type="text" id="nom" th:field="*{nom}" required />

    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" required />

    <button type="submit">S'inscrire</button>
</form>
</body>
</html>